* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
	text-align: center;
}

/* Main margin */

.main {
	margin: 10px 50px;
}

/* Game board features */

.game {
	border: 2px dotted #E8CC95;
	border-radius: 20px;
	height: 494px;
	width: 494px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

/* Buttons */
.start, .pause, .continue, .restart {
	width: 70px;
}

/* Square size */

.square, .transquare {
	height: 50px;
	width: 50px;
	border-radius: 10px;
	margin: 10px;
}

/* Starting square color features */

.transquare {
	background-color: grey;
	opacity: 0.1;
}

/* End game text appearance */

.end {
	position: absolute;
	width: inherit;
	color: black;
	font-size: 100px;
	text-align: center;
	margin-top: 150px;
}

.continue, .pause {
	width: 80px;
}

/* Squares colors according to lifes count */

[data-lifes="1"] {
	background-color: blue;
}

[data-lifes="2"] {
	background-color: green;
}

[data-lifes="3"] {
	background-color: yellow;
}

[data-lifes="4"] {
	background-color: orange;
}

[data-lifes="5"] {
	background-color: red;
}